<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9c3422f0-3696-42b6-a160-bc066ef7d367/resourceGroups/KinsaancafeRG/providers/Microsoft.Web/sites/kisaanCafe</ResourceId>
    <ResourceGroup>KinsaancafeRG</ResourceGroup>
    <ApiResourceId>/subscriptions/9c3422f0-3696-42b6-a160-bc066ef7d367/resourceGroups/KinsaancafeRG/providers/Microsoft.ApiManagement/service/KisaanCafeWebAPIapi/apis/KisaanCafeWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kisaancafe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c0d8501e-b932-40a2-884f-d55fdae8c2a0</ProjectGuid>
    <MSDeployServiceURL>kisaancafe.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kisaanCafe</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$kisaanCafe</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAN3HVgJCNT0eWGq76l0VZ/gAAAAACAAAAAAAQZgAAAAEAACAAAABHU06voZ9rlGx1coK7fkpp5Vg0JZJJ3EdqlL+tKezEpAAAAAAOgAAAAAIAACAAAABEC9EoJI9vE7w8BHg2l/x2g0p6N6k3DGclK1V62NlC3qAAAADSI+aYMoJX1kPq6vIwsB+XSI7OLUz0BhDADP6Blpb7Qnvr8ajtVwUDgO8FKW2DoZTxHpiyTPnA8YGeOJaGRbh0rumqrZSGNugBPFQ6a2zeAiXmUicKI8eeahImDaGY5lkvFc3gi/22tK8ELrfsGfV2YSPG4lGjHrCIe5Ax3k2RPiSMQY2368g2DoY9ZkPJeysMzCsVfAktXQ51XXfuQ1P+QAAAAI0k+6o6A4ICh/zUS9TGdNNT9mSN/4IIM6m9BFIRr5+dFDSgGaSVUl7zFLIjSPGfNx8hhqfqinPrVSDi5nDlOxw=</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>