<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/bd20acb5-4655-46e9-b88c-312716ad6ceb/resourceGroups/shopresource/providers/Microsoft.Web/sites/shopapiservice</ResourceId>
    <ResourceGroup>shopresource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://shopapiservice.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://shopapiservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$shopapiservice</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>